<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is our home page</h1>
    <hr>
    <h2>this is our authors</h2>
    {% for author in author %}
        <li>{{author.name}}: {{author.email}}</li>
    {% endfor %}
    <hr>
    <h3>our books</h3>
    {% for books in book %}
        <li>{{books.title}}: {{books.description}}</li>
    {% endfor %}
</body>
</html>